body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 250px;
    background-color: #f36eae;
}

.container {
    border-left: 150px solid #333; 
    border-right: 150px solid #333; 
    padding: 300px; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: 40px;
    text-align: 40px;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #0056b3;
}